#edit-contents{
    width: 80%;
    height: 100%;
    background-color: black;
}

.photo-description{
    border: none;
    height: 100px;
    width: 300px;
    display: list-item;
    background-color: white;
}

.photo-description input{
    margin: 20px 20px;
    
}