.text-area{
    border: none;
    width: 300px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: justify;
}

#button-delete{
    background-color:white;
    border: none;
    width: 50px;
    margin: 0px 10px;
}


#input-cat{
    border: none;
    margin: 0px 5px;
    font-size: 18px;
    color: rgb(0, 132, 255);
}